<h1 class="text-center py-4">Bienvenido</h1>


<div>
	<div class="demo pb-4" >
		<p> RED </p>
		<input class="knob" data-width="200" data-min="0" data-max="255"  data-displayPrevious=true value="44">
	</div>
	
	<div class="demo" >
		<p> Green </p>
		<input class="knob2" data-width="200" data-min="0" data-max="255" data-displayPrevious=true value="44">
	</div>
	
	<div class="demo" >
		<p> Blue</p>
		<input class="knob3" data-width="200" data-min="0" data-max="255" data-displayPrevious=true value="44" id="color3">
	</div>
	
	
	<div class="mt-4 text-center" style="width:100%;font-size:40px; float: right">
		<h1 id="colorrgb">rgb(
			<span id="valor1">44</span>,
			<span id="valor2">44</span>,
			<span id="valor3">44</span>)
		</h1>
	</div>
</div>


<br>
<div id="tarjeta" style="background-color: rgb(44,44,44)"></div>
